/* shared with all main pages */
@font-face {
    font-family: DynaPuff;
    src: url(../fonts/DynaPuff/DynaPuff-Regular.ttf);
}

@keyframes reveal {
    to{opacity: 1;transform: translateY(-140px);}
}
@keyframes unreveal {
    from {
        opacity: 1;transform: translateY(-140px);
    }
    to {
        opacity: 0;transform: translateY(0px);
    }
}
@keyframes hideFrame {
    to{opacity: 0}
}
@keyframes appearFrame {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* document layout */
*{
    font-family: DynaPuff, arial;
}
body{
    background-image: url(../img/box.jpg);
    background-repeat: round;
    background-attachment:fixed;
    background-position: center;
    overflow: hidden;
}

/* utility classes */
.viewport{ 
    width: 100vw;
    display: flex;
    justify-content: center;
}
.hide{
    opacity: 0;
}

/* Wake up button */
.start{
    width:300px;
    height:100px;
    background-color: hsla(0, 2%, 18%, 0.9);
    border-radius: 50px;
    color: hsl(0, 2%, 69%);
    font-size: 40px;
}
.start:hover{
    background-color: hsla(0, 2%, 27%, 0.9);
    cursor: pointer;
}

/* mainframe behavior */
.mainframeRestore{
    animation: appearFrame 4s forwards;
}
.mainframeGlitch{
    animation: hideFrame 3s forwards;
}

/* response box behavior */
#responseBox{
    width: 700px;
    background-color: hsla(0, 1%, 32%, 1);
    height: 130px;
    opacity: 0;
    display: flex;
    justify-content: center;
}
.activeResponseBox{
    animation: reveal 3s forwards;
}
.unactiveResponseBox{
    animation: unreveal 3s forwards;
}
.response{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.844);
    margin-left: 10px;
    margin-right: 10px;
}
.active:hover{
    background-color: rgba(168, 167, 167, 0.844);
    cursor: pointer;
}

/* massage box behavior */
.messageBox{
    border: 10px black solid;
    width: 700px;
    height: 700px;
    background-color: hsla(0, 1%, 32%, 0.9);
    overflow: scroll;
    scrollbar-width: none;
}
.messageSlot{
    display: flex;
    flex-direction: column-reverse;
}
.message{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
#host{
    left: 360px;
    background-color: rgba(59, 224, 166, 0.77);
}
#other{
    margin-left: 20px;
    background-color: rgba(84, 205, 242, 0.77);
}

/* profile avatar and name behavior */
.info{ 
    width: 700px;
    height: 100px;
    background-color: rgb(48, 47, 47);
    font-size: 30px;
    position: relative; /* Establishes a positioning context */
    top: 0px;
}
.info *{
    margin-left: 10px;
    margin-right: 10px;
}
.info p{
    display: inline-block;
    position: absolute; /* Position relative to .info */
    top: 0;
    left: 200px;
    width: 300px;
    text-align: center;
}
.info img{
    height: 100px;
    width: 100px;
}